/*here are colors:
linen #fbfaea
pale goldenrod #e6d4b6
sienna #814c34
dark olive green #331c17
sienna #9f7148
*/

#container{
  width:95%;
  background-color: #fbfaea;
  margin: 0 auto;
}


#nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width:200px;
    background-color:#e6d4b6;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}

#nav li a{
    display:block;
    font-weight:bold;
    color:#331c17;
    width:169px;
    padding:8px 16px;
    text-decoration:none;
    border-bottom:1px solid black;
}

/* Change the link color on hover */
#nav li a:hover{
    background-color: #331c17;
    color: #fbfaea;
}

img{
  border-style:none;
}
