/*here are colors:
linen #fbfaea
pale goldenrod #e6d4b6
sienna #814c34
dark olive green #331c17
sienna #9f7148
blueish #7CB3B1
*/

html{
  font-size:100%;
}

body{
  background-color:#7CB3B1;
}

#container{
width:95%;
background-color:#fbfaea;
margin:0 auto;
}

.navigation {
	padding: 10px;
	background: #e6d4b6;
  border-radius: 5px;
	margin: 45px auto;
}

.item {
	color: #000;
	padding: 15px;
	margin: 5px;
  justify-content: center;
	background: #e6d4b6;
	border-radius: 3px;
  font-family:"Arimo", Helvetica, sans-serif;
  font-weight: bold;

}

.navigation {
	display: flex;
	flex-direction: column;
}

nav ul{
  display:none;
  list-style: none;
}

nav a{
  text-decoration:none;
}

.menu-trigger{
  order:1;
}

.head1{
  order:2;
}

.article {
  padding:15px;
  font-size:1.3em;
  font-family:"Raleway",Georgia, "Times New Roman", serif;
}

#header h1, #header h2{
  background-color:#fbfaea;
  color:#331c17;
  text-align:center;
  font-family:"Lora", Georgia, serif;
  font-weight:bold;
}
#header{
  display:flex;
  flex-flow: row;
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

.head1{
display:flex;
  background-color:#fbfaea;
  color:#331c17;
  text-align:center;
  font-family:"Lora", Georgia, serif;
  font-weight:bold;
  font-size:2em;
  padding:20px;
}

h1{
    font-size:2.2rem;
}
h2{
    font-size:1.4rem;
    font-style:italic;
}

h3{
    font-family:"Lora", Georgia, serif;
    font-size:1.6rem;
    font-style:italic;
    text-align:center;
}

#content{
  background-color:#e6d4b6;
  padding-left:8px;
  padding-bottom:8px;
}

.authorphoto img{
display: none;
}

.pullquote{
  display:none;
}
.pullquote2{
  display: none;
}

#joke{
  color:black;
  font-family:"Raleway",Georgia, "Times New Roman", serif;
  font-size:1.2rem;
  text-align:center;
  margin-top:4px;
}

#links li a{
  color:red;
  font-family:"Raleway",Georgia, "Times New Roman", serif;
}

#links li a:hover{
    color:maroon;
    font-weight:bold;
}

.image img{
  display:block;
  width:100%;
  margin-top:0.5em;
}
.image{
  width:90%;
  max-width:800px;
  margin-right:20px;
  margin-bottom: 20px;
}

#footer{
  color:black;
  font-family:"Raleway",Georgia, "Times New Roman", serif;
  font-size:0.8rem;
  font-style:italic;
  border-top:1px solid black;
  margin-left:5px;
  margin-right:5px;
}

@media screen and (min-width: 500px) {
	.navigation {
		flex-direction: row;
		justify-content: center;
	}

  .authorphoto img{
    display:block;
    width:100%;
    margin-top:0.5em;
  }
  .authorphoto{
    width:25%;
    float:left;
    margin-right:20px;
    margin-bottom: 20px;
  }
  #container{
  width:80%;
  }
  .pullquote{
    display:block;
  }
  .pullquote2{
    display:block;
  }
}

@media screen and (min-width:700px){
  nav ul{
    display:flex;
    text-decoration:none;
  }
  .menu-trigger{
    display:none;
  }

  nav ul li{
    border-top:none;
    text-decoration:none;
  }
  .navigation{
    order:2;
  }
  .head1{
    order:1
  }
}

@media screen and (min-width: 800px) {

	.item-1 {
		margin-right: auto;
	}
  .navigation{
    flex-flow:row;
    justify-content: space-around;
  }
  .navigation a:hover{
      color:#fbfaea;
      font-weight:bold;
  }
}

@media screen and (min-width: 1000px){
  .article{
    display:grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a b b f"
    "c c c c"
    ". d d ."
    ". g g ."
    ". e e ."
  }
  .authorphoto{
    width:100%;
    grid-area:a;
  }

  .section1{
    grid-area:b;
  }
  .image{
    grid-area:c;
    margin:0 auto;
  }
  .section2{
    grid-area:d;
  }
  .section3{
    grid-area:e;
  }
  .pullquote{
    margin-top:0px;
    grid-area: f;
  }
  .pullquote2{
    margin-top:0px;
    grid-area: g;
  }
  .section1 p:first-of-type, .section2 p:first-of-type, .section2 p:first-of-type{
    margin-top: 0px;
  }
}



/*.navigation{
  display:flex;
  flex-flow:wrap;
  flex-direction:column;
  width:169px;
  padding:8px 16px;
  color:#331c17;
  text-decoration:none;
}

@media (min-width:800px){
  .navigation{
    flex-flow:row;
    justify-content:auto;
  }
  #nav li a:hover{
      background-color:#331c17;
      color:#fbfaea;
      font-weight:bold;
  }
}

#nav li a{
    color:#331c17;
    width:169px;
    padding:8px 16px;
    text-decoration:none;
  }*/

  /*#nav ul{
      list-style-type:none;
      margin:0;
      padding:0;
      width:200px;
      background-color:#e6d4b6;
      border-top:1px solid black;
      border-left:1px solid black;
      border-right:1px solid black;
  }

  #nav {
  	padding: 10px;
  	background: #fff;
    border-radius: 5px;
  	margin: 45px auto;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    list-style-type:none;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
  }

  #nav li a{
      display:block;
      color:#331c17;
      width:169px;
      padding:8px 16px;
      text-decoration:none;
      border-bottom:1px solid black;
      font-family:"Arimo", Helvetica, sans-serif;
  }*/
