/*here are colors:
linen #fbfaea
pale goldenrod #e6d4b6
sienna #814c34
dark olive green #331c17
sienna #9f7148
blueish #7CB3B1
*/

html{
  font-size:100%;
}

body{
  background-color:#7CB3B1;
}

  #container{
  width:95%;
  background-color:#fbfaea;
  margin:0 auto;
}

#header h1, #header h2{
  background-color:#e6d4b6;
  color:#331c17;
  text-align:center;
  font-family:"Lora", Georgia, serif;
  font-weight:bold;
}
h1{
    font-size:2.5rem;
}
h2{
    font-size:1.5rem;
    font-style:italic;
}
#nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width:200px;
    background-color:#e6d4b6;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}

#nav li a{
    display:block;
    font-weight:bold;
    color:#331c17;
    width:169px;
    padding:8px 16px;
    text-decoration:none;
    border-bottom:1px solid black;
    font-family:"Arimo", sans-serif;
}

#nav li a:hover{
    background-color:#331c17;
    color:#fbfaea;
}

#content{
  background-color:#e6d4b6;
  padding-left:8px;
  padding-bottom:8px;
}

#joke{
  color:black;
  font-family:"Josefin Sans", sans-serif;
  font-size:1.2em;
  text-align:center;
  margin-top:4px;
}

#links li a{
  color:red;
}

#footer{
  color:black;
  font-family:"Raleway",Georgia, "Times New Roman" serif;
  font-size:0.8rem;
  font-style:italic;
  border-top:1px solid black;
  margin-left:5px;
  background-color:#7CB3B1;
}

img{
  border-style:none;
}
